<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup]="taskForm">
    <div mat-dialog-content>
        <div class="container">
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Task Name</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="taskForm.controls['name'].hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Employee</mat-label>
                        <mat-select formControlName="employee" name="user">
                            <mat-option *ngFor="let user of usersList" [value]="user.id">
                                {{user.employeeId}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field>
                        <mat-label>Task Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                        <mat-error *ngIf="taskForm.controls['description'].hasError('required')">
                            Description is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>To Do Date</mat-label>
                        <input matInput formControlName="toDoDate">
                        <mat-error *ngIf="taskForm.controls['toDoDate'].hasError('required')">
                            To Do Date is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="taskForm.controls['toDoDate'].hasError('pattern')">
                            No correct date format (yyyy-mm-dd)
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="warn" (click)="onCancelClick()">
            <mat-icon>close</mat-icon> Cancel
        </button>
        <button mat-raised-button color="primary" [mat-dialog-close]="data"
        cdkFocusInitial (click)="OnSubmitClick()" [disabled]="taskForm.invalid">
            <mat-icon>done</mat-icon> {{buttonLabel}}
        </button>
    </div>
</form>