table {
    width: 100%;
}

.deleteIcon {
    color: rgb(163, 25, 25);
    cursor: pointer;
    margin: 5px;
}

.editIcon {
    color: rgb(62, 25, 163);
    cursor: pointer;
    margin: 5px;
}

.userIcon {
    color: rgb(163, 92, 25);
    cursor: pointer;
}